<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BAI-CRM</display-name>
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring-servlet.xml, /WEB-INF/dao-config.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>/controller/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.bai.baicrm.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveServlet</display-name>
    <servlet-name>MoveServlet</servlet-name>
    <servlet-class>com.bai.baicrm.servlet.MoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveServlet</servlet-name>
    <url-pattern>/MoveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveServletCF</display-name>
    <servlet-name>MoveServletCF</servlet-name>
    <servlet-class>com.bai.baicrm.servlet.MoveServletCF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveServletCF</servlet-name>
    <url-pattern>/MoveServletCF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveServletEP</display-name>
    <servlet-name>MoveServletEP</servlet-name>
    <servlet-class>com.bai.baicrm.servlet.MoveServletEP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveServletEP</servlet-name>
    <url-pattern>/MoveServletEP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveServletFE</display-name>
    <servlet-name>MoveServletFE</servlet-name>
    <servlet-class>com.bai.baicrm.servlet.MoveServletFE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveServletFE</servlet-name>
    <url-pattern>/MoveServletFE</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveServletFCC</display-name>
    <servlet-name>MoveServletFCC</servlet-name>
    <servlet-class>com.bai.baicrm.servlet.MoveServletFCC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveServletFCC</servlet-name>
    <url-pattern>/MoveServletFCC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveFuture</display-name>
    <servlet-name>MoveFuture</servlet-name>
    <servlet-class>com.bai.baicrm.servlet.MoveFuture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveFuture</servlet-name>
    <url-pattern>/MoveFuture</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveServletFuture</display-name>
    <servlet-name>MoveServletFuture</servlet-name>
    <servlet-class>com.bai.baicrm.servlet.MoveServletFuture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveServletFuture</servlet-name>
    <url-pattern>/MoveServletFuture</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.bai.baicrm.servlet.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
</web-app>